.canvas rect 
{
	stroke: black;
	stroke-width: 3;
}
 
 .canvas div
 {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  color: white;
 }
 
html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
   
#OuterContainer 
{
    width: 100%;
    height: 100%;
}

